.overlay{
    background-image: linear-gradient(rgba(0, 0, 0, 0.614),rgba(0, 0, 0, 0.614));
}
.movieImg img{
    overflow: hidden !important;
    transition: all .2s ease-in-out !important;
}
.movieCard:hover img{
 transform: scale(1.2);
} 