@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }}
@layer utilities {
  .paginationStyle {
    @apply w-8 h-8 align-middle md:flex justify-center items-center   cursor-pointer leading-5 transition duration-150 ease-in  rounded-full text-center
  }
  .paginateBTN{
    @apply h-8 w-8 h-8 align-middle  flex justify-center items-center rounded-full bg-gray-200 cursor-pointer
  }
}
:root {
  --primary-color: #04152d;
  --gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
}

body {
  background-color: var(--primary-color);
}
.undefined{
  display: none;
}
.main {
  background-image: linear-gradient(
      180deg,
      rgba(4, 21, 45, 0) 0%,
      #04152d 79.17%
    ),
    url("./assets//img/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
}
.gradient {
  background-image: linear-gradient(to bottom, #082854 35%, var(--primary-color) 100%);
}

.searchInput {
  display: flex;
  align-items: center;
  width: 100%;
}

input {
  width: calc(100% - 100px);
  height: 50px;
  background-color: white;
  outline: 0;
  border: 0;
  border-radius: 30px 0 0 30px;
  padding: 0 15px;
  font-size: 14px;
}


.button {
  width: 100px;
  height: 50px;
  background: var(--gradient);
  color: white;
  outline: 0;
  border: 0;
  border-radius: 0 30px 30px 0;
  font-size: 16px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .searchInput button {
    width: 150px;
    height: 60px;
    font-size: 18px;
  }
  .searchInput input {
    width: calc(100% - 150px);
    height: 60px;
    font-size: 20px;
    padding: 0 30px;
  }
}
